.category-hero {
    text-align: center;
    margin: 20px auto;
}

.category-hero h1 {
    padding: 30px;
    font-size: 3rem;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.8);
}


.category-list {
    list-style: none;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 0;

}

.category-list li {
    flex: 1 1 calc(33.33% - 10px);
    margin: 0;
    font-size: 18px;
    box-shadow: rgba(82, 82, 82, 0.24) 0px 3px 8px;
    background-color: #1A1A1A;
    padding: 10px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.category-list li a {
    color: #ffc800;
    font-weight: bold;
}

.category-list li a:hover {
    color: #f7eb67;
}

@media (max-width: 768px) {
    .category-list li {
        flex: 1 1 calc(50% - 10px);
    }
}

@media (max-width: 480px) {
    .category-list li {
        flex: 1 1 100%;
    }
}