.homepage-hero {
    text-align: center;
    margin: 20px auto;
}

.homepage-hero h1 {
    padding: 30px;
    font-size: 3rem;
}


.styles-list {
    list-style: none;
    max-width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* Changed to 3 equal columns */
    gap: 10px;
    text-align: left;
}

.styles-list li {
    margin: 0;
    font-size: 18px;
}

.styles-list li a {
    text-decoration: none;
    color: #ffc800;
    font-weight: bold;
}

.styles-list li a:hover {
    text-decoration: underline;
    color: #f0df25;
}